<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-rsa"
        version="1.1.0">

    <name>RSA cordova plugin</name>
    <description></description>
    <author>Alexey Ermashov</author>
    <keywords>android, rsa</keywords>
    <license>MIT</license>

    <js-module src="www/rsa.js" name="RSAPlugin">
        <clobbers target="RSAPlugin" />
    </js-module>
    <engines>
        <engine name="cordova-android" version=">=3.0.0"/>
        <engine name="cordova-ios" version=">=3.0.0"/>
    </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RSAPlugin" >
                <param name="android-package" value="ru.rsa.plugins.RSAPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/RSAPlugin.java" target-dir="src/ru/rsa/plugins/" />
        <source-file src="src/android/RSA.java" target-dir="src/ru/rsa/plugins/" />

    </platform>

</plugin>