<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-rsa"
        version="1.1.0">

    <name>RSA cordova plugin</name>
    <description></description>
    <author>Alexey Ermashov</author>
    <keywords>android, rsa</keywords>
    <license>MIT</license>

    <js-module src="www/rsa.js" name="RSAPlugin">
        <clobbers target="RSAPlugin" />
    </js-module>
    <engines>
        <engine name="cordova-android" version=">=3.0.0"/>
        <engine name="cordova-ios" version=">=3.0.0"/>
    </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RSAPlugin" >
                <param name="android-package" value="ru.rsa.plugins.RSAPlugin" />
            </feature>
        </config-file>

        <framework src="src/android/rsa.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/RSAPlugin.java" target-dir="src/ru/rsa/plugins/" />
        <source-file src="src/android/RSA.java" target-dir="src/ru/rsa/plugins/" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RSAPlugin">
                <param name="ios-package" value="RSAPlugin"/>
            </feature>
        </config-file>

        <!--Modifiing target app Info.plist file-->
        <config-file target="*-Info.plist" parent="ITSAppUsesNonExemptEncryption">
            <false/>
        </config-file>

        <!--Module entry point-->
        <source-file src="src/ios/RSAPlugin.swift"/>

        <!--Swift bridging header-->
        <header-file src="src/ios/RSAPlugin-Bridging-Header.h"/>

        <!--Common swift code-->
        <source-file src="src/ios/RSA/RSA.swift"/>
        <source-file src="src/ios/RSA/RSAError.swift"/>
        <source-file src="src/ios/RSA/CertificateAndKeyPair.swift"/>
        <source-file src="src/ios/OpenSSLWrapper/OpenSSLWrapper.swift"/>
        <source-file src="src/ios/OpenSSLWrapper/OpenSSLWrapperError.swift"/>
        <source-file src="src/ios/Extensions/SecIdentity+Helpers.swift"/>
        <source-file src="src/ios/Extensions/SecKey+Helpers.swift"/>

        <!--openssl should be embedded and linked (written twice as source-file and framework)-->
        <source-file src="src/ios/Frameworks/openssl.framework" target-dir="libs" framework="true"/>

        <!--Frameworks-->
        <framework src="src/ios/Frameworks/openssl.framework" custom="true" embed="true"/>
        <framework src="src/ios/Frameworks/SelfSignedCert.xcframework" custom="true" embed="true"/>
        <framework src="src/ios/Frameworks/IDZSwiftCommonCrypto.xcframework" custom="true" embed="true"/>
        <framework src="src/ios/Frameworks/SecurityExtensions.xcframework" custom="true" embed="true"/>
        <framework src="src/ios/Frameworks/SwiftBytes.xcframework" custom="true" embed="true"/>

        <!--Dependencies-->
        <dependency id="cordova-plugin-add-swift-support" version="^2.0.2"/>
    </platform>

</plugin>